//$brand-red: #ff331a;
//
//.related-content {
//  h4 {
//    color: #ff331a;
//  }
//  .related-articles {
//    .aspect__inner {
//      position: relative;
//      .card-with-image, .media-publications {
//        height: 504px;
//        position: relative;
//      }
//      .card-with-image img, .media-publications img {
//        -webkittransition: filter .3s ease-in-out;
//        -moz-filter: filter .3s ease-in-out;
//        transition: filter .3s ease-in-out;
//        -o-filter: filter .3s ease-in-out;
//
//        /* FF 35+ */
//        -webkit-filter: grayscale(100%);
//        -moz-filter: grayscale(100%);
//        -o-filter: grayscale(100%);
//        filter: grayscale(100%);
//        object-fit: cover;
//        height: 504px;
//      }
//      .card-body:hover {
//        cursor: pointer;
//      }
//      .card-with-image .card-body .title-overlay, .media-publications .card-body .title-overlay {
//        background: rgba(103, 156, 181, 0.5);
//        position: absolute;
//        bottom: 0;
//        width: 100%;
//        min-height: 120px;
//        max-height: 120px;
//        left: 0;
//        padding: 15px;
//        transition: all 0.2s ease-in-out;
//        cursor: pointer;
//      }
//      .card-with-image .card-body .title-overlay .card-title, .media-publications .card-body .title-overlay .card-title {
//        transition: all 0.2s ease-in-out;
//        color: white;
//      }
//      .card-with-image .card-body .title-overlay .card-text, .media-publications .card-body .title-overlay .card-text {
//        visibility: hidden;
//        opacity: 0;
//        transition: visibility 0s, opacity 0.2s linear;
//        font-size: 14px;
//      }
//      .card-with-image .card-body .title-overlay .card-title, .media-publications .card-body .title-overlay .card-title {
//        top: 10px;
//      }
//      .card-with-image:hover img, .media-publications:hover img {
//        -webkit-filter: grayscale(0%);
//        /* Ch 23+, Saf 6.0+, BB 10.0+ */
//        filter: grayscale(0%);
//        /* FF 35+ */
//      }
//      .card-with-image:hover .card-body .title-overlay, .media-publications:hover .card-body .title-overlay {
//        min-height: 254px;
//        background: rgba(103, 156, 181, 0.9);
//        transition: all 0.3s ease-in-out;
//      }
//      .card-with-image:hover .card-body .title-overlay .card-title, .media-publications:hover .card-body .title-overlay .card-title {
//        transition: all 0.3s ease-in-out;
//      }
//      .card-with-image:hover .card-body .title-overlay .card-text, .media-publications:hover .card-body .title-overlay .card-text {
//        visibility: visible;
//        opacity: 1;
//        position: absolute;
//        top: 30px;
//        width: 100%;
//        min-height: 120px;
//        left: 0;
//        padding: 15px;
//        color: white;
//      }
//      .card-with-image img, .media-publications img {
//        object-fit: cover;
//      }
//      ._content-block-horizontal {
//        height: 237px !important;
//        .title-overlay {
//          height: 237px !important;
//        }
//        .card-body .title-overlay {
//          min-height: 60px;
//          max-height: 60px;
//        }
//        img {
//          height: 237px !important;
//          object-fit: cover;
//        }
//        &:hover .card-body .title-overlay {
//          min-height: 118px;
//        }
//      }
//      .media-publications {
//        height: unset;
//        .card-body .title-overlay {
//          background: transparent;
//          min-height: 40px;
//          max-height: 40px;
//        }
//        &:hover .card-body .title-overlay {
//          min-height: 145px;
//        }
//      }
//      .card {
//        .card-title {
//          position: absolute;
//          bottom: 0;
//        }
//        ._post-info {
//          position: absolute;
//          top: 10px;
//          right: 10px;
//          span {
//            display: block;
//            color: white;
//            font-size: 0.8em;
//            line-height: 1.2;
//            text-align: right;
//            &.date {
//              font-weight: 600;
//            }
//          }
//        }
//      }
//      .media-post-type {
//        background-image: url(../images/content/icon-play.png);
//        background-size: 30%;
//        background-position-y: 15px;
//        background-repeat: no-repeat;
//        transition: all 0.2s ease-in-out;
//        opacity: 1;
//        @media(max-width: 767px) {
//          background-size: 15%;
//        }
//        &:hover {
//          background-image: url(../images/content/icon-play-full.png);
//          background-position-y: 40%;
//          background-position-x: 50%;
//          opacity: 0.5;
//          @media(max-width: 767px) {
//            background-size: 15%;
//          }
//        }
//      }
//    }
//    ._content-block {
//      height: 237px;
//    }
//  }
//}
//
//.article-content-block {
//  .image-container {
//    img {
//      @media (max-width: 992px) {
//        height: 200px;
//      }
//    }
//  }
//}
//
//.article-content-block .read-more {
//  @media (max-width: 767px) {
//    position: unset;
//    bottom: unset;
//    display: block;
//  }
//}
//
//.picture-item {
//  @media(max-width: 992px) {
//    margin-bottom: 30px;
//  }
//}
//
//#menuLinks {
//  li.menu-link {
//    background: #ff331a;
//    &:hover {
//      background: #3F3E40;
//    }
//    color: white;
//    font-family: LinotypeUnivers-Bold, sans-serif;
//    text-transform: uppercase;
//    padding: 10px;
//    margin-right: 5px;
//    font-size: 10px;
//    transition: all 0.1s ease-in-out;
//    text-align: center;
//    a {
//      color: white;
//      display: table-cell;
//      vertical-align: middle;
//      height: 45px;
//      width: 45px;
//      &:hover {
//        text-decoration: none;
//      }
//    }
//    margin-bottom: 15px;
//  }
//  li.active {
//    background: #3F3E40;
//  }
//  #menuHome {
//    background: none;
//    padding: 0;
//  }
//}
//
//#menuLinkRowTwo {
//  @extend #menuLinks;
//  text-align: right;
//  margin-left: 280px;
//}
//
//.share-icons-header {
//  margin-top: 5px;
//}
//
//.share-icons-header a {
//  &.btn-social-icon {
//    border: 1px solid grey;
//    border-radius: 50%;
//    height: 27px;
//    width: 30px;
//    margin-right: 1px;
//    span {
//      color: grey;
//      margin: 4px 10px;
//      font-size: 14px;
//      transition: all 0.3s ease-in-out;
//    }
//    &:hover {
//      span {
//        color: #ff331a;
//      }
//    }
//  }
//}
//
//.margin-minus-left-30 {
//  margin-left: -30px;
//}
//
//// Mobile menu styles
//.logo-container {
//  @media(min-width: 767px) {
//    width: 75%;
//  }
//  .logo-text {
//    h3 {
//      font-size: 18px;
//    }
//  }
//}
//
//.desktop-menu {
//  @media (max-width: 992px) {
//    display: none;
//  }
//}
//
//.mobile-menu {
//  @media (min-width: 992px) {
//    display: none;
//  }
//  background: #fff;
//  background: url(../images/content/backround.jpg) repeat-y left top;
//  border-bottom: 1px solid #dddddd47;
//  .navbar-brand {
//    color: #ff331a;
//  }
//}
//
//._hidden-sm {
//  @media (max-width: 992px) {
//    display: none;
//  }
//}
//
//.navbar-brand {
//  img {
//    height: 65px;
//  }
//}
//
//body {
//  @media (min-width: 992px) {
//    background: url("../images/content/backround.jpg") repeat-y left top;
//    height: 100vh;
//  }
//}
//
//section.article {
//  .intro-header {
//    @media (max-width: 992px) {
//      margin: 0 15px;
//      font-size: 1rem;
//    }
//  }
//}
//
//.shuffle-container {
//  div.col * {
//    padding: auto 5px;
//  }
//}
//
//footer.footer {
//  @media (max-width: 767px) {
//    h5 {
//      font-size: 0.8rem;
//    }
//    a {
//      color: initial;
//    }
//    h6 {
//      font-size: 0.6rem;
//    }
//    p {
//      font-size: 0.6rem;
//    }
//  }
//}
//
//.events-calender ul.calendar-months li {
//  transition: all 0.3s ease-in-out;
//  -webkit-transition: all 0.3s ease-in-out;
//  -moz-transition: all 0.3s ease-in-out;
//  -ms-transition: all 0.3s ease-in-out;
//  -o-transition: all 0.3s ease-in-out;
//  &:hover {
//    background: grey;
//  }
//}
//
//#bg-democracy {
//  .aspect {
//    .aspect__inner {
//      .card {
//        .card-body {
//          .title-overlay {
//            background: #592A13;
//          }
//        }
//      }
//    }
//  }
//}
//
//#bg-history {
//  .aspect {
//    .aspect__inner {
//      .card {
//        .card-body {
//          .title-overlay {
//            background: #9F806D;
//          }
//        }
//      }
//    }
//  }
//}
//
//#bg-labour {
//  .aspect {
//    .aspect__inner {
//      .card {
//        .card-body {
//          .title-overlay {
//            background: #BC6F48;
//          }
//        }
//      }
//    }
//  }
//}
//
//#bg-sustainable-dev {
//  .aspect {
//    .aspect__inner {
//      .card {
//        .card-body {
//          .title-overlay {
//            background: #679CB5;
//          }
//        }
//      }
//    }
//  }
//}
//
//#bg-sov {
//  .aspect {
//    .aspect__inner {
//      .card {
//        .card-body {
//          .title-overlay {
//            background: #DF8726;
//          }
//        }
//      }
//    }
//  }
//}
//
//.events-group {
//  .event {
//    .card-body {
//      border: 1px solid black;
//    }
//  }
//}

//archive section
$brand-red: #ff331a;
//.archive-group {
//  border-bottom: 10px solid $brand-red;
//  margin-bottom: 15px;
//  .archive {
//    a {
//      p {
//        color: white;
//        text-decoration: none;
//      }
//      h5 {
//        color: white;
//        text-decoration: none;
//      }
//      &:hover {
//        text-decoration: none;
//      }
//    }
//    .media-democracy {
//      background-color: #592A13;
//      color: white;
//    }
//
//    .media-history {
//      background-color: #9F806D;
//      color: white;
//    }
//
//    .media-labour {
//      background-color: #BC6F48;
//      color: white;
//    }
//
//    .media-sustainable {
//      background-color: #679CB5;
//      color: white;
//    }
//
//    .media-sov {
//      background-color: #DF8726;
//      color: white;
//    }
//
//    .media {
//      .media-body {
//        p.date-and-category {
//          position: absolute;
//          top: 5px;
//          right: 10px;
//          font-size: 10px;
//          text-align: right;
//          span.cat {
//            text-transform: uppercase;
//            font-family: LinotypeUnivers-Regular, sans-serif;
//            display: block;
//          }
//          span.date {
//            font-weight: 600;
//            font-family: LinotypeUnivers-Black, sans-serif;
//          }
//        }
//        a.read-more {
//          color: white;
//          text-decoration: underline;
//        }
//      }
//      img.archive-thumbnail {
//        object-fit: cover;
//        object-position: top;
//        height: 160px;
//        width: 180px;
//
//        -webkit-transition: filter .3s ease-in-out;
//        -moz-filter: filter .3s ease-in-out;
//        transition: filter .3s ease-in-out;
//        -o-filter: filter .3s ease-in-out;
//
//        -webkit-filter: grayscale(100%);
//        -moz-filter: grayscale(100%);
//        -o-filter: grayscale(100%);
//        filter: grayscale(100%);
//      }
//      &:hover {
//        img.archive-thumbnail {
//          -webkit-filter: grayscale(0%);
//          -moz-filter: grayscale(0%);
//          -o-filter: grayscale(0%);
//          filter: grayscale(0%);
//        }
//      }
//    }
//  }
//}

//contact us team styles
//.the-team {
//  .aspect__inner {
//    position: relative;
//    margin-bottom: 15px;
//    .card-with-image, .media-publications, .team-member {
//      height: 300px;
//      position: relative;
//    }
//    .card-with-image img, .media-publications img {
//      //-webkittransition: filter .3s ease-in-out;
//      //-moz-filter: filter .3s ease-in-out;
//      //transition: filter .3s ease-in-out;
//      //-o-filter: filter .3s ease-in-out;
//
//      /* FF 35+ */
//      -webkit-filter: grayscale(0%);
//      -moz-filter: grayscale(0%);
//      -o-filter: grayscale(0%);
//      filter: grayscale(0%);
//      object-fit: cover;
//      object-position: top;
//      height: 300px;
//    }
//    .card-body:hover {
//      cursor: pointer;
//    }
//    .card-with-image .card-body .title-overlay, .media-publications .card-body .title-overlay {
//      background: #ff1c008c;
//      position: absolute;
//      bottom: 0;
//      width: 100%;
//      min-height: 120px;
//      max-height: 120px;
//      left: 0;
//      padding: 15px;
//      transition: all 0.2s ease-in-out;
//      cursor: pointer;
//    }
//    .card-with-image .card-body .title-overlay .card-title, .media-publications .card-body .title-overlay .card-title {
//      transition: all 0.2s ease-in-out;
//      color: white;
//    }
//    .card-with-image .card-body .title-overlay .card-text, .media-publications .card-body .title-overlay .card-text {
//      visibility: hidden;
//      opacity: 0;
//      transition: visibility 0s, opacity 0.2s linear;
//      font-size: 14px;
//    }
//    .card-with-image .card-body .title-overlay .card-title, .media-publications .card-body .title-overlay .card-title {
//      top: 10px;
//    }
//    .card-with-image:hover img, .media-publications:hover img {
//      -webkit-filter: grayscale(0%);
//      /* Ch 23+, Saf 6.0+, BB 10.0+ */
//      filter: grayscale(0%);
//      /* FF 35+ */
//    }
//    .card-with-image:hover .card-body .title-overlay, .media-publications:hover .card-body .title-overlay {
//      min-height: 300px;
//      background: white;
//      transition: all 0.3s ease-in-out;
//      border: 1px solid black;
//    }
//    .card-with-image:hover .card-body .title-overlay .card-title, .media-publications:hover .card-body .title-overlay .card-title {
//      transition: all 0.3s ease-in-out;
//      color: $brand-red;
//    }
//
//    .card-with-image:hover .card-body .title-overlay .card-text, .media-publications:hover .card-body .title-overlay .card-text {
//      visibility: visible;
//      opacity: 1;
//      position: absolute;
//      top: 60px;
//      width: 100%;
//      min-height: 120px;
//      left: 0;
//      padding: 15px;
//      color: black;
//    }
//    .card-with-image img, .media-publications img {
//      object-fit: cover;
//      object-position: top;
//      border: none;
//      border-radius: 0;
//    }
//    .media-publications {
//      height: unset;
//      .card-body .title-overlay {
//        background: transparent;
//        min-height: 40px;
//        max-height: 40px;
//      }
//      &:hover .card-body .title-overlay {
//        min-height: 145px;
//      }
//    }
//    .card {
//      border: none;
//      border-radius: 0;
//      overflow: hidden;
//      .card-title {
//        position: absolute;
//        bottom: 0;
//      }
//      ._content-block {
//        .title-overlay {
//          h6.designation {
//            position: absolute;
//            top: 70px;
//            font-size: 14px;
//            font-weight: 100;
//            text-transform: initial;
//            font-family: LinotypeUnivers-bold, sans-serif;
//          }
//        }
//      }
//      &:hover {
//        ._content-block {
//          .title-overlay {
//            h6.designation {
//              opacity: 0;
//              -webkit-transition: all 0.1s ease-in-out;
//              -moz-transition: all 0.1s ease-in-out;
//              -ms-transition: all 0.1s ease-in-out;
//              -o-transition: all 0.1s ease-in-out;
//              transition: all 0.1s ease-in-out;
//            }
//          }
//        }
//      }
//      ._post-info {
//        position: absolute;
//        top: 10px;
//        right: 10px;
//        span {
//          display: block;
//          color: white;
//          font-size: 0.8em;
//          line-height: 1.2;
//          text-align: right;
//          &.date {
//            font-weight: 600;
//          }
//        }
//      }
//    }
//  }
//  ._content-block {
//    height: 300px;
//
//    h6 {
//      font-size: 12px;
//      font-weight: 600;
//      font-family: LinotypeUnivers-Black, sans-serif;
//      margin-bottom: 0;
//      text-transform: uppercase;
//    }
//    h6.areas-of-responsibility {
//      margin-top: 10px;
//    }
//    p {
//      line-height: 1.2;
//      font-family: LinotypeUnivers-Regular, sans-serif;
//      font-size: 14px;
//    }
//    a {
//      color: initial;
//    }
//  }
//  .btnReadAll{
//    position: absolute;
//    top: -65px;
//    right: 0;
//    .btn-brand{
//      background: $brand-red;
//      height: 60px;
//      width: 65px;
//      display: table-cell;
//      vertical-align: middle;
//      font-family: LinotypeUnivers-Black, sans-serif;
//      text-transform: uppercase;
//      font-size: 10px;
//      line-height: 1;
//      color: white;
//      transition: all 0.2s ease-in-out;
//      &:hover{
//        background: lighten($brand-red, 50);
//        border: 1px solid black;
//        color: black;
//      }
//    }
//  }
//}
//
//
//
//.toggleAllTeamMembersInfo{
//  ._content-block {
//    .title-overlay {
//      min-height: 300px!important;
//      background: white!important;
//      transition: all 0.3s ease-in-out!important;
//      border: 1px solid black!important;
//      .card-title{
//        transition: all 0.3s ease-in-out!important;
//        color: $brand-red!important;
//      }
//      h6.designation {
//        opacity: 1;
//        -webkit-transition: all 0.1s ease-in-out!important;
//        -moz-transition: all 0.1s ease-in-out!important;
//        -ms-transition: all 0.1s ease-in-out!important;
//        -o-transition: all 0.1s ease-in-out!important;
//        transition: all 0.1s ease-in-out!important;
//      }
//      .card-text{
//        visibility: visible!important;
//        opacity: 1!important;
//        position: absolute!important;
//        top: 60px!important;
//        width: 100%!important;
//        min-height: 120px!important;
//        left: 0!important;
//        padding: 15px!important;
//        color: black!important;
//      }
//    }
//  }
//}
//
//.section-privacy{
//  border-top: 20px solid #ff331a;
//  h3{
//    small{
//      font-family: LinotypeUnivers-Regular, sans-serif;
//      font-size: 14px;
//    }
//  }
//  h6{
//    text-transform: uppercase;
//    font-family: LinotypeUnivers-Black, sans-serif;
//    font-size: 12px;
//  }
//  .privacy-content{
//    .section-heading{
//      font-family: LinotypeUnivers-Black, sans-serif;
//      font-size: 14px;
//    }
//    address{
//      strong{
//        text-transform: uppercase;
//        font-family: LinotypeUnivers-Black, sans-serif;
//        font-size: 12px;
//      }
//    }
//  }
//}

//section.page-content {
//  div.page-content {
//    background: white;
//    padding: 15px;
//    margin: 0 -15px 30px;
//    box-shadow: -2px 4px 20px 0 #ccc;
//    address {
//      h6 {
//        font-size: 0.9rem;
//        margin-bottom: 0;
//      }
//    }
//    .page-heading {
//      h1 {
//        font-size: 2rem;
//      }
//      h5 {
//        font-size: 1.25rem;
//        font-family: LinoTypeUniverse-Condensed-Bold, sans-serif;
//      }
//    }
//    .content {
//      p {
//        font-family: LinoTypeUniverse-Condensed-Bold, sans-serif;
//      }
//      ul {
//        font-family: LinoTypeUniverse-Condensed-Bold, sans-serif;
//      }
//    }
//  }
//}
//
//.cta-content {
//  color: white;
//  .inner-content {
//    display: table-cell;
//    vertical-align: middle;
//    height: 300px;
//  }
//}
//
//.btn-read-more-transparent{
//  color: #fff;
//  background-color: transparent;
//  border: 1px solid white;
//  width: 75px;
//  height: 55px;
//  text-transform: uppercase;
//  font-size: 10px;
//  font-family: LinotypeUnivers-Black, sans-serif;
//  padding-top: 12px;
//  border-radius: 0;
//  &:hover{
//    background-color: white;
//    color: #679CB5;
//  }
//}
//
//#svgMap{
//  background: #DDDEDF;
//  object.svg-object{
//    height: 23rem;
//    width: 80rem;
//    position: relative;
//      svg{
//        .st0 {
//          clip-path: url(#SVGID_2_);
//          fill: #FFFFFF;
//          transition: all 0.3s ease-in-out;
//        }
//        .st1 {
//          clip-path: url(#SVGID_2_);
//          fill: #58595B;
//          transition: all 0.3s ease-in-out;
//        }
//        .st1{
//          &:hover{
//            fill: #ff331a;
//            cursor: pointer;
//          }
//        }
//        .fill{
//          fill: #ff331a!important;
//        }
//      }
//    section.toggle-cards{
//        .card{
//          width: 18rem;
//        }
//      .toggle-country-info{
//        visibility: hidden;
//        transition: all 0.3s ease-in-out;
//        position: absolute;
//        top: 50%;
//        right: 10%;
//        z-index: 10;
//        .card-body{
//          a{
//            color: initial;
//          }
//          p{
//            font-size: 12px;
//          }
//          p.location{
//            font-weight: 600;
//            line-height: 1;
//            text-transform: uppercase;
//            margin-bottom: 10px;
//          }
//          p.address{
//            line-height: 1;
//            font-family: LinotypeUnivers-Regular, sans-serif;
//            margin-bottom: 0;
//          }
//        }
//      }
//      .show{
//        visibility: visible;
//        transition: all 0.3s ease-in-out;
//      }
//    }
//
//    section.overlay{
//      .btn-container{
//        position: absolute;
//        bottom: 0;
//        right: 0;
//
//        .btn-read-more-transparent {
//          color: #ff331a;
//          background-color: white;
//          border: 1px solid white;
//          width: 75px;
//          height: 55px;
//          text-transform: uppercase;
//          font-size: 10px;
//          font-family: LinotypeUnivers-Black, sans-serif;
//          padding-top: 12px;
//          border-radius: 0;
//          &:hover {
//            background-color: #ff331a;
//            color: white;
//          }
//        }
//      }
//      .displayAllCountries {
//        position: absolute;
//        background: #DDDEDF;
//        bottom: -13%;
//        height: 0;
//        width: 70%;
//        left: 18%;
//        opacity: 0;
//        visibility: hidden;
//        -webkit-transition: opacity .35s, visibility .35s, height .35s;
//        -moz-transition: opacity .35s, visibility .35s, height .35s;
//        -ms-transition: opacity .35s, visibility .35s, height .35s;
//        -o-transition: opacity .35s, visibility .35s, height .35s;
//        transition: opacity .35s, visibility .35s, height .35s;
//        overflow: hidden;
//        z-index: 30;
//        &.open {
//          opacity: .9;
//          visibility: visible;
//          height: 112%;
//          width: 70%;
//          left: 18%;
//          bottom: -13%;
//          @media(min-width:767px) and (max-width: 992px){
//            height: 112%;
//            width: 88%;
//            left: 0;
//            bottom: -13%;
//          }
//          @media (min-width: 467px) and (max-width: 767px){
//            height: 119%;
//            width: 80%;
//            left: 0%;
//            bottom: -6%;
//          }
//          @media (max-width: 467px){
//            height: 77%;
//            width: 100%;
//            left: 0;
//            bottom: 23%;
//          }
//          @media (max-width: 580px){
//            div[class^="col-"]{
//              width: 50%;
//            }
//          }
//        }
//        ul>li{
//          margin-bottom: 15px;
//          p{
//            @media (min-width: 577px) and (max-width: 767px){
//              font-size: 12px;
//            }
//            @media (max-width: 767px){
//              font-size: 10px;
//            }
//          }
//          p.location{
//            font-weight: 600;
//            line-height: 1;
//            text-transform: uppercase;
//            margin-bottom: 0;
//          }
//          p.address{
//            line-height: 1;
//            font-family: LinotypeUnivers-Regular, sans-serif;
//            margin-bottom: 0;
//          }
//        }
//      }
//    }
//  }
//}

//.brand-color-blue{
//  color: #679CB5;
//}
//.brand-color-red{
//  color: #ff331a;
//}
//
//.border-blue{
//  border: 1px solid #679CB5;
//}
//
//.back-button-pages{
//  position: absolute;
//  top: 0;
//  right: 0;
//}

//.brand-color-brown{
//  color: #BC6F48;
//}

//.ButtonThing {
//  padding: 0;
//  color: white;
//  .text-lg-center{
//    height: 100px;
//    display: table-cell;
//    vertical-align: middle;
//  }
//  &:hover {
//    background: white;
//
//    #headingTwo{
//      strong{
//        color: #9e806c;
//      }
//    }
//    #headingThree{
//      button{
//        strong{
//          color: #ba6e47;
//        }
//      }
//    }
//    #headingFour{
//      strong{
//        color: #699cb5;
//
//      }
//    }
//    span{
//      strong{
//        color: #699cb5;
//      }
//    }
//  }
//  span{
//    color: white;
//  }
//}
//

